@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin after($customColor) {
  &::after {
    content: "";
    display: block;

    width: 108%;
    height: 0.5rem;
    background-color: hsl($customColor / var(--opacity));
    border-radius: 99999px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: -0.35rem;

    transition: all 0.3s;
  }
}
