@use "../abstracts" as *;

.btn {
  appearance: none;
  border: none;
  cursor: pointer;

  &--contact {
    font-family: var(--ff-secondary);
    background-color: hsl(var(--clr-primary-yellow));
    padding: 1.2rem 1.8rem;
    border-radius: 9999px;
    font-size: 1.2rem;
    font-weight: bold;

    transition: all 0.3s;

    &:hover {
      background: hsl(var(--clr-neutral-500) / 0.3);
      color: hsl(var(--clr-neutral-500));
    }

    @media screen and (min-width: 48em) {
      background-color: hsl(var(--clr-neutral-500));
      font-size: 1rem;
    }
  }

  &--menu {
    background-color: inherit;
    width: 1.5rem;
    aspect-ratio: 1;
    background-image: url("/images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 62em) {
      display: none;
    }
  }

  &--about {
    font-family: var(--ff-secondary);
    letter-spacing: 2px;
    background-color: inherit;
    color: inherit;
    --opacity: 0.3;

    position: relative;

    &:hover::after {
      --opacity: 1;
    }

    @media screen and (min-width: 48em) {
      align-self: flex-start;
    }
  }

  &--about-1 {
    @include after(var(--clr-primary-yellow));
  }

  &--about-2 {
    @include after(var(--clr-primary-red));
  }
}
