@font-face {
  font-family: "Fraunces 144pt";
  src: url("/fonts/Fraunces144ptBold.woff2") format("woff2"),
    url("Fraunces144ptBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Barlow SemiBold";
  src: url("/fonts/BarlowSemiBold.woff2") format("woff2"),
    url("/fonts/BarlowSemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces 144pt Black";
  src: url("/fonts/Fraunces144ptBlack.woff2") format("woff2"),
    url("fonts/Fraunces144ptBlack.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

html {
  font-family: "Barlow SemiBold", sans-serif;
}
