@use "../abstracts" as *;

.hero {
  height: 77svh;

  background-image: url("/images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  &__heading {
    width: min(85%, 50rem);

    font-family: var(--ff-secondary);
    font-weight: 900;
    font-size: var(--fluid-font-2_6-3_6);
    letter-spacing: var(--fulid-letter-space);
    line-height: 1.2;
    text-align: center;

    color: hsl(var(--clr-neutral-500));

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -121%);
    @media screen and (max-width: 22em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 48em) {
      transform: translate(-50%, -292%);
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 20%);

    @media screen and (min-width: 48em) {
      transform: translate(-50%, -35%);
    }
  }

  @media screen and (min-width: 48em) {
    height: 140svh;

    background-image: url("/images/desktop/image-header.jpg");
    background-size: cover;
  }
}

.about-section {
  & img {
    width: 100%;

    @media screen and (min-width: 48em) {
      width: 50%;
    }
  }

  &__details {
    max-width: 60ch;
    margin-inline: auto;
    padding: 3.5rem 1.5rem;

    text-align: center;
    color: hsl(var(--clr-neutral-100));

    @media screen and (min-width: 48em) {
      padding-inline-start: var(--fluid-spce-0-4_8);
      padding-inline-end: 0;
      @include flex(column, center, flex-start);
      text-align: left;
    }
  }
  &__heading {
    margin-bottom: 1rem;

    font-family: var(--ff-secondary);
    // font-size: 2.3rem;
    font-size: 2.8rem;
    font-weight: 700;
    @media screen and (min-width: 48em) {
      padding-inline-end: 4rem;
    }
  }

  &__description {
    margin-bottom: 2rem;

    font-size: 1.1rem;
    line-height: 1.8;

    color: hsl(var(--clr-neutral-300));
  }

  @media screen and (min-width: 48em) {
    @include flex(row);
  }
}

.about-section--1 img {
  @media screen and (min-width: 48em) {
    order: 2;
  }
}

.services {
  @media screen and (min-width: 48em) {
    @include flex(row);
  }
}
.service {
  height: 37.5rem;
  padding-block-start: 25rem;
  text-align: center;

  color: var(--customColor);

  @media screen and (min-width: 48em) {
    width: 50%;
  }

  &--1 {
    background-image: url("/images/mobile/image-graphic-design.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    --customColor: hsl(var(--clr-dark-d-cyan));

    @media screen and (min-width: 48em) {
      background-image: url("/images/desktop/image-graphic-design.jpg");
      background-size: cover;
    }
  }

  &--2 {
    background-image: url("/images/mobile/image-photography.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    --customColor: hsl(var(--clr-dark-blue));

    @media screen and (min-width: 48em) {
      background-image: url("/images/desktop/image-photography.jpg");
      background-size: cover;
    }
  }

  &__heading {
    margin-bottom: 2.3rem;

    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: 700;
  }

  &__description {
    max-width: 38ch;
    margin-inline: auto;

    line-height: 1.6;
  }
}

.testimonial {
  padding: var(--fluid-space-4_5-10_5) 1.2rem;
  text-align: center;

  &--1,
  &--2,
  &--3 {
    @include flex(column);
    gap: 2rem;

    @media screen and (min-width: 62em) {
      gap: 3.4rem;
    }
  }
  & span {
    display: block;
  }

  &-heading {
    margin-block-end: var(--fluid-space-4-5);

    font-family: var(--ff-secondary);
    font-size: var(--fluid-font-0_95-1_3);
    letter-spacing: 0.35rem;

    color: hsl(var(--clr-neutral-300));
  }

  & .user--1 {
    background-image: url("/images/image-emily.jpg");
  }
  & .user--2 {
    background-image: url("/images/image-thomas.jpg");
  }
  & .user--3 {
    background-image: url("/images/image-jennie.jpg");
  }

  & .user-image {
    width: 4.5rem;
    margin-inline: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    aspect-ratio: 1;
    border-radius: 99999px;
  }

  & .user-review {
    max-width: 36ch;
    margin-inline: auto;

    font-size: 1.1rem;
    line-height: 1.8;

    color: hsl(var(--clr-neutral-200));
  }
}

.testimonials {
  @include flex(column, center, center);
  gap: 4.5rem;

  @media screen and (min-width: 62em) {
    @include flex(row, center, center);
    gap: 1.3rem;
  }
}

.user-details {
  &__name {
    margin-block-end: 1rem;
    font-family: var(--ff-secondary);
    font-size: 1.2rem;
  }

  &__designation {
    font-size: 0.95rem;
    color: hsl(var(--clr-neutral-300));
  }
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: 48em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.photo {
  width: 100%;
}
