@use "../abstracts" as *;

.footer {
  padding: 4rem 2.5rem;
  @include flex(column, center, center);
  gap: 2rem;

  background-color: hsl(var(--clr-light-d-cyan));

  &__logo {
    width: 11rem;
    height: 2.3rem;
    margin-inline: auto;
  }

  &__navigation {
    font-size: 1.2rem;
    color: hsl(var(--clr-dark-d-cyan));
  }
}

.navigation-list {
  max-width: 20rem;
  margin-inline: auto;

  @include flex(row, space-between, center);
  gap: 2rem;

  & a:hover {
    color: white;
  }
}

.social-navigation {
  max-width: 10rem;
  margin-inline: auto;
  padding-block-start: 4rem;

  @include flex(row, space-around, center);
  gap: 2rem;
}
