@use "../abstracts" as *;

.header {
  max-width: 120rem;
  margin-inline: auto;
  @include flex(row, space-between, center);
  padding: 2rem var(--fluid-header-px);

  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;

  &__logo {
    width: var(--fluid-header-logo-w);
    height: var(--fluid-header-logo-h);
  }
}
